@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');



.mulish-mulish {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* shared styles  */
.flex {
    display: flex;
}

.maxwidth {
    max-width: 1170px;
    margin: 0 auto;
}

.tomato {
    color: #FF5400;
}

.hidden {
    display: none;
}

.primarybtn {
    width: 174px;
    border-radius: 8px;
    border: none;
    text-align: center;
    padding: 16px;
    color: #FFFFFF;
    background-color: #FF5400;
    font-size: 16px;
}

/* navbar styles  */
.navbar {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
}

.logo {
    align-items: center;
}

.logo img {
    width: 3rem;
    height: 3.2rem;
}

.logo h1 {
    font-weight: bolder;
    font-size: 2.1rem;
    color: #131318;
    margin-left: 1rem;
}

.logo h1 span {
    color: #FF5400;
}

.navitems {
    list-style: none;
}

.navitems li a {
    text-decoration: none;
}

.navitems li .navlinks {

    margin-left: 44px;
    color: rgba(66, 66, 71, 1);
}



/* header styeles  */

.headitems {
    background-image: url("/images/Group\ 13\ \(1\)\ \(1\).png");
    background-repeat: no-repeat;
    height: 600px;
    opacity: 1;
    border-radius: 10px;

}

.headcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    padding-top: 60px;

}

.headtitle {
    font-weight: bolder;
    font-size: 4rem;
    color: #FFFFFF;
    width: 596px;
}

.headdesc {
    width: 676px;
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    color: #FFFFFF;
}

.form {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 16px;
    border-radius: 8px;
    display: flex;
    gap: 24px;
    margin-top: 48px;
}

.form input,
.form select {
    width: 174px;
    border-radius: 8px;
    border: none;
    padding: 16px 0px 16px 16px;
    color: rgba(19, 19, 24, 0.5);
    font-size: 1rem;
}

/* main styles  */

/* popular section styles */

.popularcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.populartitle {
    font-size: 2.5rem;
    font-weight: bolder;
    color: #131318;
}

.populardesc,
.popular ul li {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(19, 19, 24, 0.7);
}

.popular {
    max-width: 577px;
}

.popularbtn {
    margin-top: 16px;
}

.popular ul {
    padding-left: 15px;
}

/* destination section styles  */

.destinationcontainer {
    text-align: center;

}

.destinationtitle {
    font-size: 2.5rem;
    font-weight: bolder;
    color: #131318;
}

.destinationdesc {
    font-weight: 400;
    font-size: 1rem;
    color: rgba(19, 19, 24, 0.7);
    padding: 0 300px 0 300px;

}

#img1 {
    grid-area: img1;
    background-image: url("/Images/Rectangle 5.png");
    background-size: cover;
    background-position: center;
    background-repeat: no repeat;
    padding-top: 132px;
    padding-bottom: 132px;
    width: 100%;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: bolder;
    color: #FFFFFF;

}

#img2 {
    grid-area: img2;
    background-image: url("/Images/Rectangle 8.png");
    background-size: cover;
    background-position: center;
    background-repeat: no repeat;
    padding-top: 132px;
    padding-bottom: 132px;
    width: 100%;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: bolder;
    color: #FFFFFF;
}

#img3 {
    grid-area: img3;
    background-image: url("/Images/Rectangle 6.png");
    background-size: cover;
    background-position: center;
    background-repeat: no repeat;
    padding-top: 132px;
    padding-bottom: 132px;
    width: 100%;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: bolder;
    color: #FFFFFF;
}

#img4 {
    grid-area: img4;
    background-image: url("/Images/Rectangle 7.png");
    background-size: cover;
    background-position: center;
    background-repeat: no repeat;
    padding-top: 132px;
    padding-bottom: 132px;
    width: 100%;
    border-radius: 16px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: bolder;
    color: #FFFFFF;
}

#img5 {
    grid-area: img5;
    background-image: url("/Images/Rectangle 9.png");
    background-size: cover;
    background-position: center;
    background-repeat: no repeat;
    padding-top: 132px;
    padding-bottom: 132px;
    width: 100%;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: bolder;
    color: #FFFFFF;
}

#img6 {
    grid-area: img6;
    background-image: url("/Images/Rectangle 11.png");
    background-size: cover;
    background-position: center;
    background-repeat: no repeat;
    padding-top: 132px;
    padding-bottom: 132px;
    width: 100%;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: bolder;
    color: #FFFFFF;
}

#img7 {
    grid-area: img7;
    background-image: url("/Images/Rectangle 10.png");
    background-position: center;
    background-size: cover;
    background-position: center;
    background-repeat: no repeat;
    padding-top: 132px;
    padding-bottom: 132px;
    width: 100%;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: bolder;
    color: #FFFFFF;

}

.imgcontainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    gap: 15px;
    padding: 20px;
    grid-template-areas:
        "img1 img1 img2 img2"
        "img3 img4 img4 img5"
        "img6 img7 img7 img7";
}

/* choose secton design  */
.Choosecontainer {
    text-align: center;
}

.choosetitle {
    font-weight: bolder;
    font-size: 2.5rem;
    color: #131318;
}

.choosedesc {
    font-weight: 400;
    font-size: 1rem;
    padding-left: 263px;
    padding-right: 263px;
    color: rgba(19, 19, 24, 0.7);
}

.choosecards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

.card {
    max-width: 573px;
    margin: 0 auto;
    text-align: left;
    padding: 32px 55px 32px 32px;
    background-color: rgba(251, 181, 99, 0.05);
    border-radius: 10px;
}

.card:nth-child(2) {
    background-color: rgba(41, 206, 246, 0.2);
}

.card:last-child {
    grid-column: 1 / span 2;
    justify-self: center;
    max-width: 50%;
}

.cardlogo {
    width: 64px;

}

.cardtitle {
    font-weight: bolder;
    font-size: 1.5rem;
    color: #131318;
}

.carddesc {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(90, 90, 93, 1);

}

/* deals section styles */
.dealscontainer {
    text-align: center;
}

.dealtitle {
    font-weight: bolder;
    font-size: 2.5rem;
    color: #131318;
}

.dealdesc {
    font-weight: 400;
    font-size: 1rem;
    color: rgba(19, 19, 24, 0.7);
    padding-left: 263px;
    padding-right: 264px;
}

.dealcard {
    background-repeat: no-repeat;
    background-position: center;
    width: 1170px;
    height: 500px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.dealcard:nth-child(odd) {
    background-image: url("/Images/Group\ 39.png");

    justify-content: left;

}


.dealcard:nth-child(even) {
    background-image: url("/Images/Group\ 40.png");
    justify-content: right;
}

.dcard {
    background-color: rgba(255, 255, 255, .9);
    width: 579px;
    border-radius: 10px;
    padding: 50px;
    text-align: left;
}

.dealcard:nth-child(even)>.dcard {
    margin-right: 56px;
}

.dealcard:nth-child(odd)>.dcard {
    margin-left: 56px;
}

.discountheading span {
    font-weight: 400;
    font-size: 1rem;
    color: rgba(90, 90, 93, 1);
    padding-left: 8px;
    padding-right: 16px;
}

.discountheading i {
    color: #FF5722;
    font-size: 1rem;
}

.discountitle {
    font-weight: bolder;
    font-size: 1.5rem;
    color: #131318;
    padding-top: 5px;
}

.discountdesc {
    font-weight: 400;
    font-size: 1rem;
    color: rgba(90, 90, 93, 1);
    padding-right: 80px;
}

.discountprice {
    font-weight: bolder;
    font-size: 1.25rem;
    color: rgba(255, 84, 0, 1);
}

.dealsbutton {
    margin-top: 48px;
}



/* Simple Section styles */
.simple {
    display: flex;
    padding-top: 100px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.simpleimage img {
    width: 610px;
    height: 424px;
}

.simpletitle {
    font-weight: bolder;
    font-size: 2.5rem;
    color: #131318;
}

.simpledesc,
.simpletexts ul li {
    font-weight: 400;
    font-size: 1rem;
    color: rgba(90, 90, 93, 1);
    padding-right: 28px;
}

.simpletexts ul {
    padding-left: 15px;
}

.simpletexts ul li {
    color: #131318;
    font-weight: bold;
    padding-bottom: 16px;
}

/* news Section styles */
.news {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: space-between;
    gap: 24px;
}

.newstexts {
    border: 1px solid #FF5400;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 1);
    width: 474px;
    height: 422px;
}

.newstext {
    padding: 40px;
}

.newstitle {
    font-weight: bolder;
    font-size: 1.5rem;
    color: #131318;
}

.newsdesc {
    font-weight: 400;
    font-size: 1rem;
    padding-right: 84px;
    color: rgba(90, 90, 93, 1);
}

.newshr {
    color: rgba(90, 90, 93, 1);
    width: 393px;
    margin-bottom: 16px;
}

.newstext input {
    width: 361px;
    padding: 16px;
    font-weight: 400;
    font-size: 1rem;
    color: rgba(19, 19, 24, 0.3);
    border-radius: 16px;
    border: none;
    background-color: rgba(19, 19, 24, 0.05);
    margin-bottom: 16px;
}

.newsbtn {
    width: 100%;
    border-radius: 8px;
    font-weight: bolder;
}

.newsimage {
    background-image: url("/Images/Rectangle 8 (1).png");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.te {
    border: none;
    border-radius: 16px;
    background-color: #FF5400;
    width: 324px;
    height: 120px;
    text-align: center;
    color: #FFFFFF;
    transform: rotate(-45deg);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 91px;
    right: -12px;
}



.te2 p {
    font-weight: 400;
    font-size: 1.5rem;
}

.te2 h3 {
    font-weight: bolder;
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 35px;
}

@media screen and (max-width: 576px) {


    header,
    section {
        max-width: 335px;
        margin: 0 auto;
    }

    main {
        max-width: 335px;
        margin: 0 auto;
    }


    .navitems,
    .navbar,
    .headitems,
    .headcontainer,
    .form {
        flex-direction: column;
    }

    .headitems {
        border-radius: 16px;
        border: none;
        background-position: center;
        max-width: 335px;
        margin: 0 auto;
    }

    .headcontainer {
        width: 304px;
        justify-self: center;
    }

    .headtitle {
        width: 205px;
        font-size: 22px;
    }

    .headdesc {
        width: 304px;
        font-size: 14px;
    }

    .form {
        max-width: 287px;
        margin: 0 auto;


    }

    .navitems {
        padding-left: 0px;
        gap: 10px;


    }

    .navbar {
        margin: 0;
    }

    .popular {
        max-width: 335px;
    }

    .popularcontainer {
        flex-direction: column;
    }

    .popularbtn {
        margin-bottom: 24px;
    }


    .popularimg img {
        width: 335px;
        height: 342px;
    }

    .form input,
    .form select,
    .primarybtn {
        width: 255px;
        padding-right: 0px;
        justify-self: center;
    }

    .form .when,
    .form .select {
        width: 255px;
    }

    .navitems li .navlinks {
        margin-left: 0px;
    }

    .destinationtitle {
        font-size: 1.25rem;
    }

    .destinationdesc {
        padding-left: 33px;
        padding-right: 33px;
        font-size: .9rem;
    }

    .imgcontainer {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
            "img1"
            "img2"
            "img3"
            "img4"
            "img5"
            "img6"
            "img7";

    }

    .choosedesc {
        padding-left: 13px;
        padding-right: 13px;
    }

    .choosecards {
        grid-template-columns: repeat(1, 1fr);
    }

    .card:last-child {
        grid-column: 1/span 1;
        justify-self: left;
        max-width: 100%;
    }

    .dealdesc {
        padding-left: 13px;
        padding-right: 13px;
    }

    .dealcard {
        width: 335px;
        height: 500px;
        justify-content: center;
        align-items: end;
        justify-self: center;
    }

    .dealcard:nth-child(odd)>.dcard {
        margin-left: 16px;
    }

    .dealcard:nth-child(even)>.dcard {
        margin-right: 16px;
    }

    .dcard {
        width: 288px;
        height: 297px;
        padding: 24px;
        margin: 16px 16px 16px 16px;
    }

    .discountheading {
        font-size: 1rem;
        font-weight: 400;
    }



    .discountdesc {

        padding: 0px;
    }

    .simple {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .simpleimage img {
        width: 335px;
        height: 200px;

    }

    .simpleimage {
        margin-top: 24px;
    }

    .news {
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;

    }

    .newsimage {

        position: static;
        width: 335px;
        height: 300px;
    }

    .te {
        position: relative;
        bottom: -164px;
        right: -130px;
        width: 214px;
        height: 79px;
    }

    .te2 {
        height: 49px;
    }

    .te2 p {
        font-size: 1rem;
        margin-top: 5px;
        margin-bottom: 7px;
    }


    .te2 h3 {
        font-size: 1.25rem;
        margin: 0;
    }

    .newstexts {
        width: 335px;
    }

    .newshr,
    .newstext input {
        width: 220px;
    }
}


@media screen and (min-width: 576px) and (max-width:992px) {

    header,
    section {
        max-width: 634px;
        margin: 0 auto;
    }

    main {
        max-width: 634px;
        margin: 0 auto;
    }

    .navbar {
        flex-direction: column;
    }

    .headitems {
        max-width: 634px;
        margin: 0 auto;
    }



    .headtitle {
        width: 305px;
        font-size: 42px;
        text-align: center;
    }

    .headdesc {
        width: 404px;

    }

    .form {
        flex-wrap: wrap;
        justify-content: center;
    }

    .popular {
        max-width: 634px;
    }

    .popularcontainer {
        flex-direction: column;
    }

    .popularbtn {
        margin-bottom: 24px;
    }


    .popularimg img {
        width: 632px;

    }



    .destinationdesc {
        padding-left: 33px;
        padding-right: 33px;

    }

    .imgcontainer {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
            "img1"
            "img2"
            "img3"
            "img4"
            "img5"
            "img6"
            "img7";

    }

    .choosedesc {
        padding-left: 26px;
        padding-right: 26px;
    }

    .dealdesc {
        padding-left: 13px;
        padding-right: 13px;
    }

    .dealcard {
        width: 634px;
        height: 500px;
        justify-content: center;
        align-items: end;
        justify-self: center;
    }

    .dealcard:nth-child(odd)>.dcard {
        margin-left: 16px;
    }

    .dealcard:nth-child(even)>.dcard {
        margin-right: 16px;
    }

    .dcard {
        width: 288px;
        height: 297px;
        padding: 24px;
        margin: 16px 16px 16px 16px;
    }

    .discountheading {
        font-size: 1rem;
        font-weight: 400;
    }



    .discountdesc {

        padding: 0px;
    }

    .simple {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .simpleimage img {
        width: 634px;
        height: 400px;

    }

    .simpleimage {
        margin-top: 24px;
    }

    .news {
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;

    }

    .newsimage {


        width: 634px;
        height: 300px;
    }

    .te {
        bottom: 56px;
        width: 214px;
        height: 79px;
    }

    .te2 {
        height: 49px;
    }

    .newshr {
        margin-left: 0;
        margin-right: 0;
        width: 543px;
    }

    .newstext input {
        width: 520px;
    }

    .te2 p {
        font-size: 1rem;
        margin-top: 5px;
        margin-bottom: 7px;
    }


    .te2 h3 {
        font-size: 1.25rem;
        margin: 0;
    }

    .newstexts {
        width: 635px;
    }


}